# Intellij
.idea
*.iml

# Eclipse
.classpath
.project

# Build
target
bin
build
dist

# OS
.DS_Store

# logs
logs

# NPM
package-lock.json
yarn.lock
node_modules

## Automation
cypressUpdateOne.sh
docker-composetmp.yml
packagetmp.json
pluginUpdatesOne.sh
